<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
<listeners>
<listener class-name="in.RedBus.Transformer"/>
</listeners>
  <test name="Test1">
  <parameter name="source" value="Tambaram"/>
    <classes>
      <class name="in.RedBus.BookingBus"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
  <parameter name="source" value="Tambaram"/>
  <parameter name="destination" value="Tiruchchirapali"/>
    <classes>
      <class name="in.RedBus.BookingTrain"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
